@import "_config/_getConfig.scss";

html,
body {
    height: 100%;
}

.header {
    color: $cWhite;
    background-size: 300%;
    background-image: linear-gradient(135deg, lighten($cBlue, 25%), $cBlue, darken($cBlue, 25%));
    animation: backgroundGradient 60s cubic-bezier(.4,0,.2,1) infinite;
    overflow: hidden;

    @keyframes backgroundGradient { 
        0% {background-position:0% 0%}
        50% {background-position:100% 50%}
        100% {background-position:0% 0%}
    }
}

::-webkit-scrollbar {
    background-color: $cGrey;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $cGreyDark;
}
