$cWhite:        #ffffff;
$cGrey:         #ECEAE5;
$cGrey2:        #C8C2BE; 
$cGreyDark:     #817672;
$cBlack:        #191616;
$cBlackLight:   #23201F;
$cRed:          #c26f7d;
$cPurple:       #A396A3;
$cBlue:         #347E84;
$cGreen:        #6FC2B4;
$cYellow:       #c2b46f;
$cOrange:       #D77869;

$cPrimary:      $cGreen;
$cAccent:       $cOrange;
$cText:         $cBlack;
$cBackground:   $cGrey;

$cAlert:        $cRed;
$cWarning:      $cYellow;
$cSuccess:      $cGreen;

$colors:
    'primary' $cPrimary,
    'accent' $cAccent,
    'white' $cWhite,
    'grey' $cGrey,
    'greyDark' $cGreyDark,
    'black' $cBlack,
    'blackLight' $cBlackLight,
    'red' $cRed,
    'purple' $cPurple,
    'blue' $cBlue,
    'green' $cGreen,
    'yellow' $cYellow,
    'orange' $cOrange;


$colors_light:
    'white' $cWhite,
    'grey' $cGrey;

$colors_dark:
    'primary' $cPrimary,
    'accent' $cAccent,
    'greyDark' $cGreyDark,
    'black' $cBlack,
    'blackLight' $cBlackLight,
    'red' $cRed,
    'purple' $cPurple,
    'blue' $cBlue,
    'green' $cGreen,
    'yellow' $cYellow,
    'orange' $cOrange;